body {
  background-color: #212121;
  color: lightgray;
}

.control {
    _padding: 4px !important;
}

.label {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    user-select: none;
}

.label .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13pt;
    font-weight: bold;
}

.empty {
    width: 1.5em;
    height: 100%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.vertical-bar {
    width: 0pt;
    height: 100%;
    border: 1pt solid gray;
    margin: 0 auto;
}

.led {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    transition: opacity 0.1s ease-in-out;
    background: radial-gradient(#ff6060, #cf1010);
    opacity: 0.2;
}

.red {
    background: radial-gradient(#ff6060, #cf1010);
}

.orange {
    background: radial-gradient(#ff8000, #804000);
}

.green {
    background: radial-gradient(#60ff60, #108f10);
}

.on {
    opacity: 1.0 !important;
}

.toggle {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.switch {
    display: inline-block;
    width: 1.5em;
    height: 2.5em;
    border-radius: 0.25em;
    background-color: gray;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.round {
    border-radius: 1em !important;
}

.square {
    border-radius: 0em !important;
}

.rounded {
    border-radius: 0.25em !important;
}

.slider {
    height:1em;
    width: 1em;
    border-radius: inherit;
    background-color: #424242;
    position: relative;
    top: 1.25em;
    left: 0.25em;
}

.toggle input:checked ~ .switch .slider {
    top: 0.25em;
}

.outline {
    border: 1px solid red;
}
